{{- if eq .chezmoi.os "darwin" -}}

#!/bin/bash
PLAT=$(uname -p)
if [ ${PLAT} = "arm" ]; then
  BREW=/opt/homebrew/bin/brew 
else
  BREW=/usr/local/bin/brew 
fi

${BREW} bundle --no-lock --file=/dev/stdin <<EOF

# params
cask_args appdir: "/Applications"

# brew  
tap "homebrew/bundle"
tap "homebrew/cask"
tap "buo/cask-upgrade"
tap "homebrew/cask-fonts"
brew "mas"

# machine
brew "chezmoi"
brew "pinentry-mac"
brew "antibody"

# git 
brew "github-keygen"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "glab"
brew "gh"

# shell 
brew "zsh-autosuggestions"
brew "zsh-completions"
brew "zsh"

# productivity 
brew "starship"
cask "alacritty"
cask "rectangle"
# cask "fig" - unsure
brew "tmux"
brew "neovim"

# linux tools
brew "aspell"
brew "automake"
brew "bat"
brew "libffi"
brew "cmake"
brew "coreutils"
brew "dbus", restart_service: true
brew "direnv"
brew "dos2unix"
brew "exa"
brew "gcc"
brew "curl"
brew "tree"
brew "wget"
brew "telnet"
brew "mtr"
brew "gnu-tar"
brew "gnupg"
brew "gpgme"
brew "graphviz"
brew "gron"
brew "jq"
brew "lsof"
brew "make"
brew "mkcert"
brew "mr"
brew "mtr"
brew "ripgrep"
brew "s3cmd"
brew "semgrep"
brew "shellcheck"
brew "watch"
brew "wget"
brew "whois"
brew "yq"
brew "openssl@1.1"
brew "readline"
brew "zoxide"
brew "fd"
brew "bottom"
brew "tldr"
brew "autossh"
brew "privoxy"
brew "openjdk"

#  python
brew "pipenv"
brew "python@3.9"

# go
brew "go"
brew "golangci-lint"

#  ruby
brew "ruby-install"

# Developer
cask "keybase"
cask "visual-studio-code"
cask "font-fira-code"
cask "balenaetcher"

# Infra / Cloud / Cloud-native
cask "vmware-fusion"
cask "multipass"
tap "weaveworks/tap"
brew "gitops"
cask "vagrant"
brew "terraform"
cask "cinc-workstation" # chef workstation for test kitchen
brew "packer"
brew "helm"
brew "kubectl"
brew "kustomize"
cask "docker"
cask "flux"
brew "awscli"
brew "azure-cli"
brew "tfsec"
brew "vault"
brew "k9s"
brew "kind"
brew "kubernetes-cli"
brew "kubectx"
tap "salesforce/policy_sentry", "https://github.com/salesforce/policy_sentry"
brew "policy_sentry"
brew "aws-iam-authenticator"
brew "sops"
brew "age"
brew "opa"
brew "conftest"
tap "tilt-dev/tap", "https://github.com/tilt-dev/homebrew-tap"
brew "ctlptl"
brew "tilt"
brew "vcluster"
brew "cilium-cli"

# Work related
brew "adr-tools"
cask "google-drive"
cask "1password"
brew "openvpn"
cask "openvpn-connect"
cask "microsoft-auto-update"
cask "webex"
cask "microsoft-teams"
cask "microsoft-remote-desktop"
cask "slack" # mas "Slack", id: 803453959
cask "zoom"

# Personal
cask "whatsapp"
cask "signal"
brew "jack"
brew "qjackctl"

#  Home Office
# mas "Logic", id: 634148309 always fails to update
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Xcode", id: 497799835
EOF
{{ end -}}
