#!/bin/bash
go install tailscale.com/cmd/tailscale{,d}@main
sudo $HOME/go/bin/tailscaled install-system-daemon
tailscale up  --authkey {{ keyring "tailscale" .tailscale.user | quote }} \
  --accept-routes \
  --accept-dns \
  -- advertise-routes \
  --ssh
tailscale status